.bg {
  // background: #d9d9d999;
  height: 100vh;
  background-image: url('../../../public/member//signin_images/Frame\ 56.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.imgBrand {
  width: 200px;
  display: flex;
  justify-content: center;
}

.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

.inputField {
  width: 320px;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
  align-items: center;
}

.inputField .icon {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.inputField input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.inputField input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.btn {
  width: 150px;
  background-color: #ed784a;
  border: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
}

.home {
  background: transparent;
  border: none;
  padding: 8px 16px;
}
.hometext:hover {
  text-decoration: underline;
}

.hometext {
  color: #505050;
  text-decoration: none;
}

.image {
  width: 50%;
}
