.product-card {
  display: flex;
  width: 243.75px;
  height: 448px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transition: transform 0.2s ease;
  overflow: hidden;


  &:hover {
    transform: scale(1.02);
    box-shadow: var(--shadow-x, 1px) var(--shadow-y, 6px) var(--shadow-blur, 25.5px) 0px rgba(0, 0, 0, 0.25);

    .product-card-content {
      background: var(--Frame-20, #F3F3F3);
    }
  }
}

.product-card-img {
  flex: 1 0 0;
  width: 100% !important;
  align-self: stretch;
  object-fit: cover;
}

.product-card-content {
  display: flex;
  width: 100% !important;
  height: 168px;
  padding: 18px 19px;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  flex-shrink: 0;
  background: #FFF;
}

.product-card-name {
  align-self: stretch;
  color: var(--Ellipse-8, #505050);
  font-family: "Kiwi Maru";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 3.96px;
}

.product-card-price {
  flex: 1 0 0;
  align-self: stretch;
  color: var(--unnamed, #CC543A);
  font-family: "Inria Sans";
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 4.4px;
}

.product-card-icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  flex: 1 0 0;
  align-self: stretch;
}

.product-card-star {
  display: flex;
  width: 58%;
}

.product-card-icon p {
  color: var(--Ellipse-8, #505050);
  font-family: "Inria Sans";
  font-size: 15px;
  letter-spacing: 3px;
  text-align: left;
  padding-top: 8px;
  padding-left: 7px;
  white-space: nowrap;
}


@media (max-width: 500px) {
  .product-card-link {
  text-decoration: none;
  
}

  .product-card {
    width: calc(50% - 12.5px);
    height: 300px;
    flex-shrink: 0;
  }

  .product-card-img {
    width: 100%;
    height: 160px;
    object-fit: cover;
  }

  .product-card-content {
    width: 100%;
    padding: 10px;
    gap: 10px;
    height: 140px;
    background-color: #F3F3F3;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .product-card-name {
    font-size: 15px !important;
    word-break: break-word;
  }

  .product-card-price {
    font-size: 16px;
  }

  .product-card-icon {
    justify-content: flex-end;
    gap: 8px !important;
  }

  .product-card-icon p{
    font-size: 14px;
    letter-spacing: 2px;
  }
}