.block {
  border: 2px solid #d9d9d999;
  border-radius: 10px;
}

.active {
  background-color: #ed784a;
  color: #f0f0f0;
  border-color: #ed784a;
}

.inputField {
  max-width: 460px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 32% 68%;
  padding: 0 0.4rem;
  position: relative;
  align-items: center;
}

.inputField .icon {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.inputField input {
  background: #f0f0f0;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #929292;
}

.inputField input::placeholder {
  color: transparent;
  font-weight: 500;
}

.inputField input:disabled {
  background-color: #f0f0f0;
}

.inputField .birthday {
  text-align: center;
  line-height: 55px;
  color: #929292;
  transition: 0.5s;
  font-size: 1.1rem;
  font-weight: 500;
}

.memberImg {
  width: 100px;
  height: 100px;
  background-color: var(--color-gray-light);
}

.label {
  width: 225px;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 28% 72%;
  padding: 0 0.4rem;
  position: relative;
  align-items: center;
  text-align: center;
  color: #929292;
  font-weight: 600;
}

.address {
  // width: 460px;
  background-color: #f0f0f0;
  /* margin: 10px 0; */
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 75%;
  padding: 0 0.4rem;
  position: relative;
  align-items: center;
  text-align: center;
  font-weight: 600;
  color: #929292;
}

@media screen and (max-width: 768px) {
  .label {
    grid-template-columns: 20% 80%;
  }

  .address {
    grid-template-columns: 20% 80%;
  }
}

.address input::placeholder {
  color: #929292;
  font-weight: 500;
}

.address input {
  background: #f0f0f0;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #929292;
  padding-left: 5px;
}

.label select {
  background: #f0f0f0;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #929292;
}

.form-select {
  background: #f0f0f0;
}
