.block {
  border: 2px solid #d9d9d999;
  border-radius: 10px;
  position: relative;
}

.btnCustom {
  width: 225px;
  height: 50px;
  border: 1px solid #ed784a;
  background: transparent;
  color: #ed784a;
  padding: 12px 75px;
  text-decoration: none;
  border-radius: 5px;
  font-family: 'Kiwi Maru';
  white-space: nowrap;
  transition: all 0.2s ease;
}

.btnCustom:hover,
.btnCustom.active {
  background-color: #ed784a;
  border-color: #d96a3c;
  color: #fff;
}

.scroll-btn {
  all: unset;
  position: absolute;
  top: 40%;
  z-index: 10;
  border-radius: 50%;
  border: none;
  background: transparent;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #818181;
  opacity: 0.5;
  cursor: pointer;
}

.scroll-btn:hover {
  background: rgba(255, 255, 255, 0.95); // hover 更明顯
  opacity: 1;
}

.scroll-btn-left {
  left: 5px;
}

.scroll-btn-right {
  right: 5px;
}

/* Webkit 瀏覽器 (Chrome, Safari, Edge) */
.scrollContainer::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.scrollContainer {
  scrollbar-width: none;
}

/* IE 及 Edge（舊版） */
.scrollContainer {
  -ms-overflow-style: none;
}

@media (max-width: 768px) {
  .scrollContainer {
    flex-direction: column !important;
    overflow-x: hidden !important;
    overflow-y: visible;
    align-items: center; // 可選，看是否要置中
  }

  .scroll-btn {
    display: none !important;
  }

  // .dog-card {
  //   width: 100% !important;
  //   max-width: 400px; // 自訂寬度
  //   margin: 0 auto; // 水平置中
  // }
}
