.block {
  border: 2px solid #d9d9d999;
  border-radius: 10px;
  position: relative;
}

.btnCustom {
  width: 225px;
  height: 50px;
  border: 1px solid #ed784a;
  background: #fff;
  color: #ed784a;
  padding: 12px 75px;
  text-decoration: none;
  border-radius: 5px;
  font-family: 'Kiwi Maru';
  white-space: nowrap;
  transition: all 0.2s ease;
}

.btnCustom:hover,
.btnCustom.active {
  background-color: #ed784a;
  border-color: #d96a3c;
  color: #fff;
}

.scroll-btn {
  position: absolute;
  top: 40%;
  z-index: 10;
  background: rgba(255, 255, 255, 0.5); // 初始比較透明
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease; // 加入平滑過渡
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // 可加一點陰影強調按鈕層次
  opacity: 0.5; // 初始半透明
  cursor: pointer;
}

.scroll-btn:hover {
  background: rgba(255, 255, 255, 0.95); // hover 更明顯
  opacity: 1;
}

.scroll-btn-left {
  left: 5px;
}

.scroll-btn-right {
  right: 5px;
}

/* Webkit 瀏覽器 (Chrome, Safari, Edge) */
.scrollContainer::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.scrollContainer {
  scrollbar-width: none;
}

/* IE 及 Edge（舊版） */
.scrollContainer {
  -ms-overflow-style: none;
}
