.btnCustom {
  width: 225px;
  height: 50px;
  border: 1px solid #ED784A;
  background: #fff;
  color: #ED784A;
  text-decoration: none;
  border-radius: 5px;
  font-family: "Kiwi Maru";
  white-space: nowrap;
  transition: all 0.2s ease;
}

.btnCustom:hover,
.btnCustom.active {
  background-color: #ED784A;
  border-color: #d96a3c;
  color: #fff;
}

/* 手機版響應式 */
@media (max-width: 576px) {
  .btnCustom {
    width: 135px;
    height: 45px;
  }
}