.btnCustom {
  width: 225px;
  height: 50px;
  border: 1px solid #ed784a;
  background: #f0f0f0;
  color: #ed784a;
  text-decoration: none;
  border-radius: 5px;
  font-family: 'Kiwi Maru';
  white-space: nowrap;
  transition: all 0.2s ease;
}

.btnCustom:hover,
.btnCustom.active {
  background-color: #ed784a;
  border-color: #d96a3c;
  color: #f0f0f0;
}

/* 手機版響應式 */
@media (max-width: 576px) {
  .btnCustom {
    width: 135px;
    height: 45px;
  }
}
