.cardGroup {
  height: 480px;
  padding-inline: 15px;
  gap: 30px;
  overflow-x: visible;
  scroll-behavior: smooth;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;

  &::-webkit-scrollbar {
    display: none;
  }

  & > * {
    flex-shrink: 0; /* 避免被壓縮 */
    width: 250px; /* 卡片寬度 */
  }

  @media (max-width: 575.98px) {
    height: 615px;
    padding: 0;
    gap: 12px;
    overflow: visible;
    scroll-behavior: auto;
    scrollbar-width: auto;
    scroll-snap-type: none;
    flex-wrap: wrap;
    justify-content: center;
  }
}
