.mainWrapper {
  background: var(--Frame-20, #f3f3f3);
}

.main {
  display: flex;
  box-sizing: border-box;
  padding: 93px 50px 85px 50px;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  flex-shrink: 0;

  @media (max-width: 500px) {
    gap: 0px;
    padding: 0px;
  }
}

// section1
.productDetailSection1 {
  display: flex;
  width: 100%;
  padding: 30px 363px 0px 363px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;

  @media (max-width: 500px) {
    padding: 93px 0;
    align-items: flex-start;
  }
}

.productContainer {
  display: flex;
  width: 1194px;
  height: 738px;
  padding: 0px 60px;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
  border-bottom: 1px solid var(--Ellipse-9, #929292);

  @media (max-width: 500px) {
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 0;
    gap: 24px;
  }
}

// section2
.productDetailSection2 {
  display: flex;
  width: 100%;
  padding: 0px 50px 85px 50px;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  flex-shrink: 0;

  @media (max-width: 500px) {
    padding: 0px 15px;
    gap: 40px;
  }
}

.section2Container {
  display: flex;
  width: 1440px;
  padding: 0px 50px;
  justify-content: space-between;
  align-items: flex-start;

  @media (max-width: 500px) {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (max-width: 500px) {
    width: 100%;
    align-items: center;
  }
}

.productInfo {
  display: flex;
  width: 1035px;
  padding: 60px 0px 80px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  border-bottom: 1px solid var(--Ellipse-9, #929292);

  @media (max-width: 500px) {
    width: 100%;
    padding: 0px 30px 50px 30px;
    gap: 40px;
  }
}

.scrollAnchor {
  scroll-margin-top: 100px;
}