.btnSize {
  color: #fb966e !important;

  &:hover,
  &:focus,
  &:active,
  &:visited,
  &:focus-visible,
  &:focus-within {
    color: #ed784a !important;
  }
}

.box1 {
  height: 150px;
}

.box2 {
  width: 150px;
  height: 150px;
}

.box3 {
  width: 200px;
}

.box4 {
  width: 40px;
}

.absolute1 {
  bottom: 0;
  right: 8px;
}
