/* .profile-height {
  height: 748px;
} */
.star-width {
  width: 24px;
}
.half-star-width {
  width: 12px;
}

.bgc-primary {
  background-color: #ed784a;
}
.ccc-primary {
  color: #ed784a;
  outline: #ed784a;
}
