/* === 區塊樣式 === */
.reviewsSection {
  box-sizing: border-box;
  background-color: #fb966e;
  border-radius: 25px;
  width: 100%;
  padding: 20px;
}

/* 標題樣式 */
.sectionTitle {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
}

/* Swiper 容器 */
.mySwiper {
  width: 100%;
  height: 300px;
}

.swiper-slide {
  background: #fb966e;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

/* === RWD 響應式設計 === */
@media (max-width: 991px) {
  .statisticsWrapper {
    flex-direction: column;
    gap: 20px;
  }

  .reviewsContainer {
    width: 100% !important;
    position: relative !important;
    margin-top: 40px !important;
    top: 0 !important;
    right: 0 !important;
    padding: 30px 20px !important;
  }
}

@media (max-width: 640px) {
  .statisticsWrapper {
    flex-direction: column;
    gap: 20px;
  }

  .reviewsContainer {
    padding: 20px !important;
  }
}
