.cardContainer {
  display: flex;
  gap: 20px; /* 卡片之間的間距 */
  transition: transform 0.6s ease-in-out;
  will-change: transform;
}

.container {
  position: relative; /* ✅ 讓箭頭能以這個區塊為參考定位 */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 10px;
  /* min-height: 400px; */
}

@media (max-width: 991px) {
  .cardContainer {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
}
