.productDetail {
  display: flex;
  width: 451px;
  height: 567px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;

  @media (max-width: 500px) {
    padding: 0 30px 50px 30px;
    width: 100%;
    height: auto;
  }
}

.detailContainer1 {
  display: flex;
  gap: 30px;
  padding: 10px 0px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
  align-self: stretch;

  @media (max-width: 500px) {
    gap: 20px;
  }
}

.idShareContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.productId {
  color: var(--Ellipse-9, #929292);
  font-family: 'Inria Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.1px;
}

.share {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  color: var(--Ellipse-9, #929292);
  font-family: 'Inria Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.1px;

  @media (max-width: 500px) {
    font-size: 12px;
    gap: 8px;
  }
}

.shareIcon {
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
  color: #929292;
  text-decoration: none;
  
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
}

.productTitle {
  color: #000;
  font-family: 'Inria Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4px;
}

.productNote {
  display: flex;
  padding: 2px 5px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: var(--Ellipse-11, rgba(217, 217, 217, 0.6));

  span {
    color: var(--unnamed, #cc543a);
    font-family: 'Inria Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.4px;
  }
}

.priceLikeContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.productPrice {
  color: var(--unnamed, #cc543a);
  font-family: 'Inria Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 4px;
}

.detailContainer2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  flex-shrink: 0;

  @media (max-width: 500px) {
    width: 100%;
  }
}

.detailContainer3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  align-self: stretch;

  @media (max-width: 500px) {
    width: 100%;
  }
}

.colorPicker {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  align-self: stretch;
}

.colorText {
  align-self: stretch;
  color: var(--Ellipse-8, #505050);
  font-family: 'Inria Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.8px;
}

.colorOptions {
  display: flex;
  align-items: center;
  gap: 19px;
  align-self: stretch;
}

.colorCircle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;

  &.selected {
    border: 1px solid #cc543a;
  }
}

.sizePicker {
  display: flex;
  width: 110px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
}

.sizeText {
  align-self: stretch;
  color: var(--Ellipse-8, #505050);
  font-family: 'Inria Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.8px;
}

.sizeOptions {
  display: flex;
  gap: 8px;
  align-items: center;
  align-self: stretch;
}

.sizeBox {
  display: flex;
  width: 30px;
  height: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid var(--Ellipse-9, #929292);

  &.selected {
    background: #fff;
  }
}

.packPicker,
.contentPicker {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  align-self: stretch;
}

.packText,
.contentText {
  align-self: stretch;
  color: var(--Ellipse-8, #505050);
  font-family: 'Inria Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.8px;
}

.packOptions,
.contentOptions {
  display: flex;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}

.packBox,
.contentBox {
  display: flex;
  height: 30px;
  padding: 0 12px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid var(--Ellipse-9, #929292);
  cursor: pointer;

  &.selected {
    background: #fff;
  }
}

.productQuantity {
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  color: var(--Ellipse-8, #505050);
  font-family: 'Inria Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.8px;
}

.quantityAddCart {
  display: flex;
  align-items: center;
  gap: 17px;
  align-self: stretch;
}

.quantityControls {
  display: flex;
  width: 166px;
  height: 56px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--Ellipse-9, #929292);

  @media (max-width: 500px) {
    height: 44px;
  }
}

.qtyBtn {
  display: flex;
  width: 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  align-self: stretch;
  border: 1px solid var(--Ellipse-11, rgba(217, 217, 217, 0.6));
  background: var(--Ellipse-11, rgba(217, 217, 217, 0.6));
}

.addToCartBtn {
  display: flex;
  height: 56px;
  padding: 16px 53px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border: none;
  background: var(--Ellipse-8, #505050);
  color: #fff;
  font-family: 'Inria Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.1px;

  @media (max-width: 500px) {
    padding: 16px;
    width: 100%;
    height: 44px;
  }
}

.checkoutBtn {
  display: flex;
  padding: 19px 166px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border: 1px solid var(--Ellipse-9, #929292);
  color: var(--Ellipse-8, #505050);
  font-family: 'Kiwi Maru';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.8px;

  @media (max-width: 500px) {
    padding: 16px;
    width: 100%;
  }
}

.productLinks {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  @media (max-width: 500px) {
    justify-content: center;
  }
}

.linksContainer {
  display: flex;
  gap: 20px;

  a {
    color: var(--Ellipse-8, #505050);
    font-family: 'Kiwi Maru';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.95px;
    text-decoration: none;

    &.active {
      color: #cc543a;
      font-weight: 500;
      border-bottom: 1px solid #cc543a;
    }
  }
}
