.form {
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
}

.form .signInForm {
  z-index: 2;
}

.imgBrand {
  width: 200px;
  display: flex;
  justify-content: center;
}

.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

.inputField {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
  align-items: center;
}

.inputField .icon {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.inputField input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.inputField input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.socialText {
  font-size: 1rem;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  font-size: 0.9rem;

  &::before,
  &::after {
    content: '';
    flex: 1;
    height: 1px;
    background-color: #ccc;
    margin: 0 1rem;
  }
}

.socialMedia {
  display: flex;
  justify-content: center;
}

.socialIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: #333;
  border-radius: 40px;
  border: 1px solid #333;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
}

.socialIcon:hover {
  color: #ed784a;
  border-color: #ed784a;
}

.btn {
  width: 150px;
  background-color: #ed784a;
  border: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
}

.btn:hover {
  background: #f39a6e;
  color: #fff;
}

.signUpMode .form .signInForm {
  opacity: 0;
  z-index: 1;
}

.active {
  opacity: 1;
  z-index: 2;
  transform: translate(0, 80%);
  transition: all 0.2s ease-in-out;
  transition-delay: 0.8s;
  pointer-events: auto;
}

.inactive {
  opacity: 0;
  z-index: 1;
  transform: translate(-200px, 80%);
  transition: all 0.6s ease-in-out;
  transition-delay: 0s;
}

@media (max-width: 1550px) {
  .active {
    transform: translate(0, 30%);
  }

  .inactive {
    transform: translate(-200px, 30%);
  }
}

@media (max-width: 570px) {
  .form {
    padding: 0 1.5rem;
    top: 70%;
  }

  .active {
    transform: translate(0, 220px);
    opacity: 1;
    pointer-events: auto;
    transition: all 0.6s ease-in-out;
    transition-delay: 0.6s;
  }

  .inactive {
    transform: translate(0, 420px);
    opacity: 0;
    pointer-events: none;
    transition: all 1.6s ease-in-out;
    transition-delay: 0s;
  }
}

.forget {
  color: #505050;
  text-decoration: none;
}

.forget:hover {
  text-decoration: underline;
}
