.relatedProductCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  max-width: 244px;
  height: 322px;
  background: #fff;
  cursor: pointer;

  @media (max-width: 500px) {
    width: 100%;
    height: 304px;
  }
}

.relatedProductCardLink{
  text-decoration: none;
}

.relatedProductImg {
  width: 100%;
  aspect-ratio: 1 / 1; // 正方形比例，避免不同長寬
  background-color: #f9f9f9;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.relatedProductInfo {
  display: flex;
  padding: 18px 19px;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;

  @media (max-width: 500px) {
    padding: 15px;
    gap: 10px;
  }
}

.relatedProductName {
  color: var(--Ellipse-8, #505050);
  font-family: 'Kiwi Maru';
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 3.96px;

  @media (max-width: 500px) {
    font-size: 16px;
    letter-spacing: 2px;
  }
}

.relatedProductPrice {
  color: var(--unnamed, #cc543a);
  font-family: 'Inria Sans';
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 4.4px;

  @media (max-width: 500px) {
    font-size: 18px;
    letter-spacing: 2.8px;
  }
}
